.bucket {
    width: 20rem;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    &:first-child {
        margin-left: 1rem;
    }
    .bucket-content {
        border-radius: 0.6rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        background-color: #be4443;
        .bucket-name {
            border-radius: 0.6rem 0.6rem 0 0;
            background-color: #be4443;
            padding: 1rem;
            padding-right: 4rem;
            color: #fff;
        }
        .notes-container {
            flex: 1 1 auto;
            margin-bottom: 0;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 0 0.4rem;
            padding: 0 0.4rem;
            z-index: 1;
            min-height: 0;
        }
        .add-note {
            border-radius: 0 0 0.6rem 0.6rem;
            background-color: #be4443;
            border-bottom: 0.2rem solid darken($color: #be4443, $amount: 10);
            padding: 0 0.4rem 0.4rem 0.4rem;
        }
    }
}