.note {
    background-color: #dedede;
    border-radius: 0.3rem;
    border-bottom: 0.1rem solid darken($color: #dedede, $amount: 40);
    margin-bottom: 0.6rem;
    min-height: 2rem;
    position: relative;
    text-decoration: none;
    padding: 0.6rem;
}